/**
 * Header
*/
.header {
  padding: 30px 0 227px;
  background-color: #F3E0D9;
  overflow-x: hidden;
  position: relative;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  a {
    &.phone {
      font-size: 18px;

      @media screen and (max-width: 500px) {
        display: none;
      }

      &:hover {
        color: $accent-color;
      }
    }
  }
}

.logo {
  svg {
    @media screen and (max-width: 320px) {
      width: 200px;
    }

    path {
      &:last-child {
        @media screen and (max-width: 1360px) {
          fill: $text;
        }
      }
    }
  }
}

.nav {
  @media screen and (max-width: 1100px) {
    order: 2;
  }

  &__list {
    display: flex;

    @media screen and (max-width: 1100px) {
      padding: 20px;
      flex-direction: column;
      background-color: $body-background-color;
      border-radius: 10px 0 0 0;
      width: 0;
      height: 0;
      opacity: 0;
      transition: all 0.5s ease;
      position: absolute;
      top: 47px;
      right: -30px;
      z-index: 100000;
    }

    &.active {
      width: 350px;
      height: 100vh;
      opacity: 1;

      @media screen and (max-width: 320px) {
        width: 100%;
      }
    }
  }
  &__item {
    max-width: 300px;
    &:not(:last-child) {
      margin-right: 5px;

      @media screen and (max-width: 992px) {
        margin: 0 0 10px;
      }
    }
  }
  &__link {
    font-weight: 900;
    letter-spacing: 0.03rem;
    color: $text;
    text-align: center;
    padding: 12px 15px;
    background-color: $white;
    border-radius: 6px;
    display: block;

    &:hover {
      color: $accent-color;
      background-color: rgb(255 255 255 / 90%);;
    }
  }
  &__hamburger {
    width: 30px;
    padding: 0;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1000000;

    span {
      width: 100%;
      height: 2px;
      background-color: $text;
      display: block;

      &:nth-child(2) {
        margin: 10px 0;
      }
    }

    @media screen and (max-width: 1100px) {
      display: block;
    }

    &.active {
      position: relative;

      span {
        transition: 0.4s;

        &:nth-child(2) {
          margin: 0;
          opacity: 0;
        }

        &:nth-child(1) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:nth-child(3) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}

.offer {
  width: 590px;
  margin: 155px 0 0 auto;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 992px) {
    width: 350px;
    margin: 70px 0 0 auto;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
    margin: 40px 0 0;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    color: $pink-brown;
    margin: 36px 0;

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }
}

.woman-for-offer {
  position: absolute;
  bottom: 0;
  left: 185px;

  @media screen and (max-width: 1760px) {
    left: 0;
  }
  @media screen and (max-width: 1360px) {
    width: 55%;
  }
  @media screen and (max-width: 992px) {
    width: 65%;
  }
}
.call-registration {
  display: none;
  align-items: center;
  position: absolute;
  bottom: 80px;
  left: 216px;
  z-index: 10;

  @media screen and (min-width: 2560px) {
    display: none;
  }
  @media screen and (min-width: 2000px) {
    bottom: 80px;
    left: 622px;
  }
  @media screen and (max-width: 1360px) {
    bottom: 60px;
    left: 30px;
  }
  @media screen and (max-width: 992px) {
    bottom: 5px;
    left: 30px;
  }
  @media screen and (min-width: 700px) {
    display: flex;
  }

  &__text {
    font-weight: 400;
    font-style: italic;
    color: $white;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    width: 448px;
    border-radius: 0.375rem;
    background: rgba(108, 108, 108, 0.20);
    backdrop-filter: blur(12.5px);
  }
}
