/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$text: #34252E;
$white: #fff;
$pink-brown: #B59393;

$body-background-color: #FFF4F4;
$accent-color: #F49C8C;
$whatsapp-color: #4CAF50;

/* Components */
